body {
  margin: 0;
  background-color: rgb(229, 237, 225);
  font-family: loveFont;
  
}

h1 {
  font-size: 40px;
  color: #726762;
  margin-left: 2vw;
  margin-top: 4vh;
}

h2 {
  color: rgb(182, 162, 143);
  text-align: center;
  margin-top: 5vh;
}

@font-face {
  font-family: loveFont;
  src: url('resourses/Love.ttf');
}

h3 {
  color: #fafafa;
  font-family: loveFont;
  font-size: 80px;
  left: 50%;
  top: 50%;
  animation: fade 1000ms alternate ease-out forwards; /* referring directly to the animation's @keyframe declaration */
  animation-delay: 200ms;
  font-weight:normal; 
}

h4 {
  color: #fafafa;
  font-family: loveFont;
}

.description {
  color: rgb(44, 44, 44);
  font-size: 30px;
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  margin-top: 10%;

}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(38, 40, 42);
  overflow: hidden;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 32px 32px;
  text-decoration: none;
  font-size: 28px;
  font-family: loveFont;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
/*  background-color: #d26666;*/
  color: white;
}

  
.fullImage {
  margin-top: -100px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.heart {
  position: absolute;
  z-index: 1;
  width: 5vw;
  margin-top: -4vh;
  opacity: 0;
  animation: fade 400ms alternate ease-out forwards; /* referring directly to the animation's @keyframe declaration */
  animation-delay: 1000ms;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
